<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">About</a></li>
	        		<li><a href="/research">Research</a></li>
	        		<li><a href="/group">Research Group</a></li>
	        		<li><a href="/publications">Publications</a></li>
	        		<li><a href="/other">Other</a></li>
	        		<li><a href="/contact">Contact</a></li>
	        		<!-- <li><a href="/openings">Openings</a></li> -->
					<!-- <li><a href="/blog">Blog</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:marco.baityjesi@eawag.ch">email</a></li>
	        		<li><a href="https://github.com/mbaityje">github</a></li>
	        		<li><a href="https://linkedin.com/in/marco-baity-jesi"> Linkedin </a></li>
	        		<li><a href="https://scholar.google.com/citations?user=4S1Ajs8AAAAJ&hl=en&oi=ao"> Scholar </a></li>
				</ul>
			</footer>
		</body>
	</html>
