<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">About</a></li>
	        		<li><a href="/research">Research</a></li>
	        		<li><a href="/group">Research Group</a></li>
	        		<li><a href="/publications">Publications</a></li>
	        		<li><a href="/other">Other</a></li>
	        		<!-- <li><a href="/contact">Contact</a></li> -->
	        		<!-- <li><a href="/openings">Openings</a></li> -->
					<!-- <li><a href="/blog">Blog</a></li> -->
	    		</ul>
			</nav>
			<div style="width: 100%; height: 150px; overflow: hidden">
				<img src="{{site.url}}/_images/SftP_banner_flat.jpg" width="100%" alt="A random image"> 
			</div>

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://www.eawag.ch/en/aboutus/portrait/organisation/staff/profile/marco-baity-jesi/show/">Homepage@Eawag</a></li>
	        		<li><a href="mailto:marco.baityjesi@eawag.ch">email</a></li>
	        		<li><a href="http://github.com/mbaityje">github</a></li>
	        		<li><a href="http://linkedin.com/in/marco-baity-jesi"> linkedin </a></li>
	        		<li><a href="http://scholar.google.com/citations?user=4S1Ajs8AAAAJ&hl=en&oi=ao"> scholar </a></li>
				</ul>
			</footer>
		</body>
	</html>
